:root {
  --Pale-Blue: hsl(243, 100%, 93%);
  --Grayish-Blue: hsl(229, 7%, 55%);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);
}
body {
  font-family: "Raleway", sans-serif;
  background-color: var(--Very-Dark-Blue);
  height: 35vh;
  margin: 0;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

body img.maybe {
  position: absolute;
  min-width: 99.7%;
  z-index: -1;
  top: 50%;
  height: 50%;
  margin-left: 0px;
  max-width: 100%;
}

.big-box {
  margin: 350px auto;
}

.big-box .container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.big-box .container .box-1 {
  background-color: var(--Dark-Blue);
  margin-right: 25px;
  padding: 20px 100px 20px 20px;
  border-radius: 4px 80px 4px 4px;
  -webkit-border-radius: 4px 80px 4px 4px;
  -moz-border-radius: 4px 80px 4px 4px;
  -ms-border-radius: 4px 80px 4px 4px;
  -o-border-radius: 4px 80px 4px 4px;
}

.big-box .container .box-1 .text img {
  width: 80px;
}

.big-box .container .box-1 ul {
  padding: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.big-box .container .box-1 ul img:first-child {
  width: 10px;
  margin-right: 10px;
  background-color: var(--Very-Dark-Blue);
  padding: 7px;
  border-radius: 6px;
}

.big-box .container .box-1 ul img:nth-child(2) {
  width: 13px;
  margin-right: 10px;
  background-color: var(--Very-Dark-Blue);
  padding: 7px;
  border-radius: 6px;
}

.big-box .container .box-1 ul img:last-child {
  width: 14px;
  margin-right: 10px;
  background-color: var(--Very-Dark-Blue);
  padding: 7px;
  border-radius: 6px;
}

.big-box .container .box-2 {
  background-color: var(--Dark-Blue);
  flex-basis: 40%;
  position: relative;
  padding: 20px;
  border-radius: 4px;
  height: 50px;
  bottom: -29px;
}

.big-box .container .box-2 .one {
  position: absolute;
  top: -29px;
  background-color: white;
  right: 25px;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 10px;
  color: #777;
}

.big-box .container .box-2 .one .ooo {
  font-weight: 700;
  font-size: 20px;
  color: var(--Very-Dark-Blue);
  position: relative;
}

.big-box .container .box-2 .one .ooo::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  right: -52px;
  bottom: -23px;
  border: 8px solid;
  border-color: white white transparent transparent;
}

.big-box .container .box-2 p {
  margin-top: 0;
  font-size: 12px;
  color: white;
}

.big-box .container .box-2 p .o-o {
  margin-top: 0;
  font-size: 13px;
  font-weight: 700;
}

.big-box .container .box-2 .prog {
  background-color: var(--Very-Dark-Blue);
  border-radius: 4px;
}

.big-box .container .box-2 .two {
  display: block;
  font-size: 10px;
  border-radius: 4px 0 0 4px;
  color: transparent;
  /* background-image: linear-gradient(to right, #f995a7, #ffa500a3); */
  background-image: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
  position: relative;
}

.big-box .container .box-2 .two::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: white;
  border-radius: 50%;
  right: -4px;
}

.big-box .container .box-2 ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 0;
  color: white;
  font-size: 10px;
  margin-top: 6px;
}

@media (max-width: 767px) {
  .big-box .container {
    flex-direction: column;
    position: relative;
  }

  .big-box .container .box-1 {
    margin-bottom: 26px;
    padding: 40px 45px;
    margin-right: 3px;
  }

  .big-box .container .box-1 .text img {
    width: 150px;
  }

  .big-box .container .box-2 .one {
    top: 128px;
    right: 75px;
    padding: 15px 40px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 15px;
    top: 135px;
    padding: 13px 32px;
  }

  .big-box .container .box-2 .one .ooo {
    font-size: 45px;
  }

  .big-box .container .box-2 .one .ooo::before {
    border-color: transparent transparent transparent transparent;
  }

  .big-box .container .box-1 ul {
    margin-top: 30px;
  }

  .big-box .container .box-1 ul img:first-child {
    width: 20px;
    margin-right: 10px;
    padding: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .big-box .container .box-1 ul img:nth-child(2) {
    width: 20px;
    margin-right: 10px;
    background-color: black;
    padding: 19px;
    border-radius: 10px;
  }

  .big-box .container .box-1 ul img:last-child {
    width: 20px;
    margin-right: 10px;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .big-box .container .box-2 p {
    margin-top: 10px;
    font-size: 18px;
    margin-left: 15px;
  }

  .big-box .container .box-2 ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 20px;
    color: white;
    font-size: 15px;
    margin-top: 15px;
  }

  .big-box .container .box-2 {
    padding: 30px;
    bottom: 0;
  }

  body img.maybe {
    position: absolute;
    max-width: 117.7%;
    z-index: -1;
    top: 0%;
    left: -72px;
    height: 100%;
    margin-left: -6px;
    transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
  }
}
